
$bg-color: #8F86F2;

.body {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;

    .card {
        padding: 2rem;
        box-shadow: 2px 2px 24px 3px rgba(0, 0, 0, 0.205);
        border-radius: 1rem;
        background-color: white;
        
        .card-header {
            
            align-items: center;

            img {
                width: 2rem;
                height: 2rem;
            }

            span {
                font-weight: 600;
                margin-left: 1rem;
                font-size: 1.5em;
                letter-spacing: 2px;
            }
        }

        .card-form {
            padding-left: 3rem;
            padding-right: 3rem;
            padding-top: 4rem;
            padding-bottom: 2rem;
            width: 400px;

            .card-title {
                font-family: 'Roboto', sans-serif;
                font-size: 1.8em;
                margin-bottom: 1rem;
            }

            mat-form-field {
                margin-top: 1rem;
            }

            input {
                font-size: 1.1em;
            }

            .sign-up {
                background-color: $bg-color;
                transition: .25s ease-in-out;
                cursor: pointer;
                border: none;
                outline: none;
                border-radius: 1rem 1rem 1rem 1rem;
                margin-left: 2rem;
                margin-right: 2rem;
                margin-top: 2rem;
                margin-bottom: 1rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                font-size: 1.2em;
                font-weight: 500;
                font-family: 'Lato', sans-serif;
                color: white;

                &:hover {
                    box-shadow: 2px 1px 12px 1px #8f86f28e;
                }

                &:active {
                    outline: none;
                }
            }
        }
    }
}

.terms {
    margin-left: 3rem;
}

.login {
    margin-left: 3rem;
}

.txt-normal {
    font-size: .9em;
}

.txt-action {
    color: $bg-color;
    cursor: pointer;
    font-weight: 500;
    font-size: .9em;
    margin-left: .35rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 620px) {
    .card-form {
        width: 70% !important;
    }

    mat-form-field {
        width: 100%;
    }

    .terms {
        margin-left: 0rem;
    }
    
    .login {
        margin-left: 0rem;
    }
}
