<div class="body flex-row">
  <div class="flex-col left-col">
    <div class="img-flex">
      <img src="../../assets/smple_profile_photo.jpg" class="profile">
    </div>
    <button class="change-img">Change Image</button>
  </div>
  <div class="flex-col right-col">
    <div class="card flex-col">
      <div class="card-header flex-row">
        <span class="card-title">Basic info</span>
      </div>
      <div class="flex-row input-row">
        <mat-form-field class="card-field">
          <mat-label>First name</mat-label>
          <input [(ngModel)]="user.firstName" matInput placeholder="First name" spellcheck="false">
        </mat-form-field>
        <mat-form-field class="card-field">
          <mat-label>Last name</mat-label>
          <input [(ngModel)]="user.lastName" matInput placeholder="Last name" spellcheck="false">
        </mat-form-field>
      </div>
      <div class="flex-row input-row">
        <mat-form-field class="card-field">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="user.email" matInput placeholder="Email" type="email" spellcheck="false">
        </mat-form-field>
        <mat-form-field class="card-field">
          <mat-label>Birth Date</mat-label>
          <input [(ngModel)]="user.birthDate" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="card flex-col mt-3">
      <div class="card-header flex-row">
        <span class="card-title">About me</span>
      </div>
      <div class="flex-row input-row">
        <mat-form-field class="card-field">
          <mat-label>Introduction</mat-label>
          <textarea matInput placeholder="Write a short summary about yourself"></textarea>
        </mat-form-field>
      </div>
      <div id="location"class="flex-row input-row">
        <mat-form-field class="card-field">
          <mat-label>Country</mat-label>
          <input [(ngModel)]="country" matInput placeholder="Country" type="text" spellcheck="false">
        </mat-form-field>
        <mat-form-field class="card-field">
          <mat-label>City</mat-label>
          <input [(ngModel)]="city" matInput placeholder="City" type="text" spellcheck="false">
        </mat-form-field>
        <mat-form-field class="card-field">
          <mat-label>State</mat-label>
          <input [(ngModel)]="state" matInput placeholder="State" type="text" spellcheck="false">
        </mat-form-field>
      </div>
    </div>
    <div class="card flex-col mt-3">
      <div class="card-header flex-row">
        <span class="card-title">External Links</span>
      </div>
      <div class="flex-row input-row">
        <mat-form-field class="card-field">
          <mat-label>Facebook URL</mat-label>
          <input [(ngModel)]="user.facebookUrl" matInput placeholder="Paste your link here" type="url" spellcheck="false">
        </mat-form-field>
      </div>
      <div class="flex-row input-row">
        <mat-form-field class="card-field">
          <mat-label>Twitter URL</mat-label>
          <input [(ngModel)]="user.twitterUrl" matInput placeholder="Paste your link here" type="url" spellcheck="false">
        </mat-form-field>
      </div>
      <div class="flex-row input-row">
        <mat-form-field class="card-field">
          <mat-label>LinkedIn URL</mat-label>
          <input [(ngModel)]="user.linkedInUrl" matInput placeholder="Paste your link here" type="url" spellcheck="false">
        </mat-form-field>
      </div>
    </div>
    <div class="card flex-col mt-3">
      <div class="card-header flex-row">
        <span class="card-title">Skills</span>
        <div class="card-header-btn-holder">
          <button (click)="openSkillDialog()" class="card-header-btn btn-add">Add skill +</button>
          <button (click)="editSkills()" class="card-header-btn btn-edit">Edit skills</button>
        </div>
      </div>
      <div class="flex-col">
        <app-skill *ngFor="let skill of user.skills; let i = index" [skill]="skill" [index]="i" class="ml-1 mr-1"></app-skill>
        <span *ngIf="user.skills.length === 0" class="no-info">No skills added</span>
      </div>
    </div>
    <div class="card flex-col mt-3">
      <div class="card-header flex-row">
        <span class="card-title">Personal projects</span>
        <div class="card-header-btn-holder">
          <button (click)="openPersonalProjectDialog()" class="card-header-btn btn-add">Add project +</button>
          <button (click)="editPersonalProjects()" class="card-header-btn btn-edit">Edit projects</button>
        </div>
      </div>
      <div class="flex-row input-row">
        <span [hidden]="displayNoPersonalProjects" class="no-info">No personal projects added</span>
      </div>
    </div>
    <button (click)="saveChanges()" class="save">Save Changes</button>
  </div>
</div>
